/* Garage-css */
.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
  width: 85%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.garage {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  margin: 0px 35px;
}
