/* Header Css */
.header {
  background: #2b2b2b;
  padding: 20px 0px;
}
.header-content {
  width: 75%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
.header-content h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
.header-details {
  background: #fba651;
  width: 50%;
  margin: auto;
  border-radius: 0px 0px 100px 100px;
  padding: 15px 0px;
  color: #424242;
  text-transform: uppercase;
}

.header-details h2 {
  margin: 0;
  letter-spacing: 2px;
}
